* {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

/* Navbar Styling */
.nav-item {
  margin-top: 10px;
}

.nav-item img {
  width: 50px;
  height: 50px;
}

.nav-item a {
  margin-bottom: -20px;
}

.heart a {
  padding-left: 5px;
  margin-left: -5px;
}

.dice a {
  padding-left: 10px;
  margin-left: -5px;
}

.first-two img {
  width: 80px;
  height: 80px;
}

.first-two {
  margin-top: -8px;
}

#fire {
  padding-bottom: 3px !important;
  width: 68px;
}

#smile {
  width: 50px;
}

.navIcons2 {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.icons2Div {
  padding-top: 7px;
}

/* Styling for vertical side menu */
.vertical-menu {
  top: 80px;
  width: 200px;
  background-color: grey;
  padding-top: 20px;
  position: fixed;
  height: 100%;
}

body.dark-mode .vertical-menu {
  background-color: #222222;
}
body.dark-mode .modal-show {
  background-color: pink !important; /* Fallback color */
  background-color: pink !important; /* Black w/ opacity */
}

body.dark-mode .meme-container h2,
body.dark-mode .meme-container h3 {
  color: white;
}

/* Style for the menu items */
.vertical-menu a {
  padding: 15px;
  text-decoration: none;
  color: white;
  display: block;
  transition: background-color 0.3s;
}

img.menuIcons {
  width: 40px;
  height: 40px;
}

.box {
  display: flex;
  overflow: hidden;
  height: 55px;
  align-items: center;
}

/* Individual styling for icons */
#programmingIcon {
  width: 80px;
  height: 60px;
  margin-left: -15px;
}

#linuxIcon {
  width: 45px;
  height: 60px;
  margin-left: -5px;
}

.linux-container img {
  margin-top: -10px;
}

.javaIcon {
  height: 50px !important;
  width: 100px !important;
  margin-left: -30px;
}

.input-group {
  padding-bottom: 10px;
}

/* Styling the Register Form */
/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
.icon {
  position: relative;
  width: 60px !important;
  height: 60px !important;
  border: none;
  cursor: pointer;
  /* z-index: 9999999999999999; */
}

.icon:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.postbtn {
  width: auto;
  padding: 10px 18px;
  background-color: green;
  margin-left: auto;
}

.formFotter {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin-bottom: 20px;
}

.rememberMe {
  margin-top: 5px;
  align-self: flex-start;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.container-bottom {
  display: flex;
  padding: 16px;
  align-items: center;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  padding-top: 80px;
}

.modal-show {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
}

.modal-content2 {
  margin-top: 50px !important;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

.example {
  padding-top: 30px;
  margin-bottom: 30px;
}

/* Style the search field */
form.example input[type="text"] {
  margin-top: 10px;
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  margin-top: 10px;
  float: left;
  width: 20%;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  margin-left: -2px;
}

#feed img {
  margin-top: 5px;
  height: 50px !important;
  width: 50px !important;
}

.fa {
  margin-top: 13px;
  padding-bottom: 13.7px;
  margin-left: 1px;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

/* Styling for dark mode */

.dark-mode {
  background-color: #000000;
}

/* Styling the error messages */

.error {
  display: none;
  top: -10px;
  height: 50px;
  width: 100%;
  left: 300px;
  color: #ff0000; /* Red text color for errors */
  background-color: #ffcccc; /* Slightly less red background */
  font-size: 14px; /* Font size for error messages */
  margin-top: 5px; /* Add some spacing above the error messages */
  font-weight: bold; /* Make the error messages bold */
  border: 1px solid #ff0000; /* Red border around the error messages */
  padding: 5px; /* Add some padding around the error messages */
  border-radius: 5px; /* Add rounded corners to the error messages */
  text-align: center;
}

.hidden {
  display: none;
}

.meme-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  margin-top: 50px;
  left: 72vh;
  /* z-index: -100000000000000000000000; */
  width: 700px;
  height: auto;
}

.first-container {
  margin-top: 125px;
}

.meme-container img {
  width: 700px;
  height: auto;
}

.tag {
  color: purple;
  font-size: xx-large;
  font-weight: bold;
  padding-bottom: 20px;
}

.description {
  font-size: x-large;
  padding-bottom: 20px;
}

.hidden {
  display: none;
}

.stats-header {
  display: flex;
}

.stats-header img {
  width: 45px;
  padding-bottom: 20px;
}

.stats-header h2,
.stats-header h3 {
  color: black;
  font-weight: bold;
  margin-left: 15px;
  font-size: large;
  margin-top: 10px;
}

.stats-header h3 {
  font-weight: lighter;
}

.stats {
  padding-top: 20px;
  display: flex;
}

.bottom-stats {
  width: 700px;
  align-items: flex-start;
  display: flex;
  padding-top: 20px;
  overflow: hidden;
  height: 150px !important;
}

.bottom-stats img {
  width: 50px;
}

.bottom-stats h2 {
  margin-top: 30px;
  margin-left: 15px;
  align-self: start;
  font-weight: bold;
  overflow: hidden;
  font-size: x-large;
  align-items: flex-start;
  margin-right: 20px;
}

#comment {
  margin-top: 15px;
}

#eye {
  margin-top: 5px;
  width: 80px;
}

#view-count {
  margin-left: 0px;
}

.bottom-stats .right-align {
  width: 90px;
}

.right-align {
  margin-left: auto;
  margin-right: -31px;
}

/* Horizontal line sytling */
hr {
  width: 700px;
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

/* Rounded border */
hr.rounded {
  border-top: 5px solid #bbb;
  border-radius: 5px;
}

.navbar {
  top: 0px;
  position: fixed;
  z-index: 100000000000;
  width: 100%;
  overflow-y: hidden;
}

form.example button {
  width: 21%;
}

.form-control-file {
  justify-content: center;
}

/* Styling post modal */
#id03 {
  margin-top: 50px;
}

/* Padding for modals */
.container-bot {
  padding-top: 25px;
  padding-bottom: 25px;
}

.container-bottom-login {
  justify-content: space-between;
}

.img-container {
  display: inline-block;
  width: 50px !important;
  margin-left: -10px;
}

/* #anonymous {
  margin-top: -3px;
  height: 70px !important;
  width: 70px !important;
} */

.profileContainer {
  text-align: left;
}

#profileForm h1 {
  margin-top: 20px;
  text-align: center;
}

#uploadContainer {
  display: flex;
  margin: 0px 50px;
  align-items: center;
}

#saveChanges {
  background-color: blue;
  color: white;
  margin-right: auto !important;
}

#bottom-profile {
  justify-content: space-between;
}

.item-left {
  margin-left: 0 !important;
}

#logoutBtn {
  background-color: red !important;
  color: white;
}

.profileHeader {
  margin-left: 290px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.statsProfile {
  align-items: center;
  /* justify-content: center; */
  display: flex;
  flex-direction: row;
  margin-left: -130px;
  margin-top: 150px;
  margin-bottom: -60px;
  width: 700px;
}

.statsProfile img {
  width: 50px;
}

.textStats {
  margin-top: -5px;
  margin-left: 20px;
}

.textStats H2 {
  margin-top: 10px;
  font-size: large !important;
}

.profileHr {
  margin-top: 100px;
  margin-bottom: -80px;
  margin-left: 680px;
}

#followIcon {
  margin-left: 20px;
}

#followIcon {
  transition: opacity 0.5s ease;
}

#tagID {
  position: absolute;
  left: 875px;
  top: 150px;
}
